{% extends "base.html" %}

{% block title %}
   <title>form.html</title>
{% endblock %}

{% block content %}
 <main class="py-5 px-3">
    <h1 class="text-center">แบบฟอร์มกรอกข้อมูลประชากร</h1>
    <form class="form-control py-3 shadow-sm" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="name">ชื่อ</label>
            <input class="form-control" type="text" name="name" value="{{ person.name }}">
        </div>
        <div>
            <label class="form-label" for="age">อายุ</label>
            <input class="form-control" type="numbeer" name="age" id="" value="{{ person.age }}">
        </div>
        <div class="text-end">
            <button class="btn btn-primary my-3">submit</button>
        </div>
    </form>
   </main> 
{% endblock %}